h1 {
  padding-top: 100px;
}
h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-default {
  background: #599732;
}
.upvote-style {background-color:#ffa500;}
.downvote-style {background-color:#8b008b;}
.white {color:#ffffff;}
